/*===========================
        General CSS
===========================*/
html{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

body{
     background-image: linear-gradient(to bottom left, #030615 , #3a4373);
}

h1, h2, h3{
    font-family: 'Anton', sans-serif;
}

main, a{
    font-family: 'Hanuman', serif;
}



/*===========================
           Nav CSS
===========================*/

header {
    width: 100%;
    margin: 0;
}

header img{
    width: 110%;
    margin: -1em;
    height: auto; 
    z-index: 0;
}

ul a{
    z-index: 1;
    text-decoration: none;
    color: white;
    margin: -30.5em 2em 0 0;
}

ul{
    margin-left: 73%; 
}

ul a:hover{
    color: #be7631;
    background-color: #ffffff8a;
    border-radius: 4px;
}

header h1{
    text-align: center;
    font-size: 6em;
    margin-top: -1.05em;
    color: #ffffffa6
}


/*===========================
        Top Row CSS
===========================*/
.col-sm{
    float: left;
    width: 30%;
}

.col-sm img{
    width: 100%;
    margin: 2em 0 2em -2em;
    float: left;
}

.col-sm p{
    color: white;
    float: left; 
    margin-top: 2em;
}
/*===========================
    Middle Row- Banner CSS
===========================*/
#banner{
    margin: 2em -1em;
    height: 8em;
    width: 110%;
    background-color: #11162e;
}

#banner img{
    width: 7em;
    margin: .5em .5em 0 6em;
}


.textOverlay{
    color: white;
    width: 7em;
    height: 7em;
    margin: .5em 0 0 6em;
    justify-content: center;  /*for centering text inside .photo-overlay*/
    align-items: center;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
}

.white-head {
    color: white;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
}



.textOverlay {
    opacity: 0;
    transition: opacity .5s;
    border-radius: 25%;
}

.textOverlay:hover {
    opacity: 1;
    border-radius: 25%;
}

/*===========================
        Bottom Row CSS
===========================*/

/*===========================
        Footer CSS
===========================*/
footer{
    margin-top:2em;
    margin-bottom:-4em;
    color: white;
}

#footerNav ul a{
    margin-top: -6em;
    text-decoration: none;
    font-size: .5em;
}