/*==========================================================================================
            RESPONSIVE SCREEN CSS - MOBILE
===========================================================================================*/
/*========================================
            General CSS Mobile
========================================*/
html{
    overflow-x: hidden;
}

body, h2{
font-family: 'Arapey', serif;
}

h1, footer{
font-family: 'Licorice', cursive;
}



/*========================================
            Header/Nav CSS Mobile
========================================*/
header{
    color: #7b8e3a;
}


header img{
    z-index: 0;
    width: 110%;
    height: auto;
    margin: -0 -1em;
}

header h1{
    z-index: 1;
    margin: .2em 0 -.3em 0;
    text-align: center;
}

h2{
    z-index: 1;
    text-align: center;
    margin: -2em -1em 4em -1em;
    padding-top: .4em;
    height: 2em;
    background-color: #e8e8e8;
}

header h2{
    font-size:1.1em;
}

.col-sm img {
    width: 80%;
    margin: 5% 10%;
    box-shadow: 2px 2px #00000047;
}

.col-sm p{
    width:80%;
    margin: 0 10%;
}



/*============================
        Nav Items
============================*/
.nav {
    overflow: hidden;
    position: absolute;
    display: block;
    top: 0;
    left: 1em;
    width: 200px;
    height: 300px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.nav .nav-link {
    display: none;
    text-align: left;
    position: absolute;
    text-decoration: none;
    top: 2em;
    left: 0;
}

/* Style the hamburger menu */
.icon {
    position: absolute;
    top:.4em;
    left: 0;
}

.nav a.icon {
    z-index:500;
    color: #7b8e3a;
    display: block;
    position: absolute;
    right: 0;
    top: .5em;
}

ul li {
    display: block;
}

a.active {
    background:none;
}

/*============================
        Order CSS
============================*/
#orderContainer{
    width: 95%;
    margin-top: 15%;
    margin-left: 5%;

}


#orderContainer .col-sm {
    width: 40%;
    float: left;
    margin: 4% auto;
    text-align: center;
    box-shadow: 1px 1px #dfdfdf47;
}

#orderContainer img{

}

.col-sm button{
    font-size: .65em;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*============================
        Footer CSS
============================*/
footer{
    color: #7b8e3a;
    text-align: center;
}

footer h3{
    font-size: 1em;
}



/*==========================================================================================
            RESPONSIVE SCREEN CSS - TABLET
===========================================================================================*/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {









/* Closing brace for media screen*/
}
/*==========================================================================================
            RESPONSIVE SCREEN CSS - FULL SIZE
===========================================================================================*/

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    








/* Closing brace for media screen*/
}