/*==========================================================================================
            RESPONSIVE SCREEN CSS - MOBILE
===========================================================================================*/
/*========================================
            General CSS Mobile
========================================*/

html {
    overflow-x: hidden;
    width:100%;
    scroll-behavior: smooth;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: 'Questrial', sans-serif;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

h1 {
    font-size: 2em;
    text-align:center;
}

p {
    font-size: 1em;
}

.pinkBG {
    z-index: -100;
    background-color: #fadbdd;
    height: 550px;
    width: 100%;
    margin-left: 5%;
    margin-top:-300px;
    padding: .5em;
}

.column1{
    width: 90%;
    margin-right: 0;
    margin-left: 1%;
}

.column2{
    width: 90%;
    margin-right: 15%;
    margin-left: 0;
}

.column2 h1 {
    margin-top: 1.5em;
    margin-left: -5%;
}

/*========================
   HAMBURGER NAV Mobile
========================*/

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: absolute;
    display: block;
    top: 0;
    right: 1em;
    width: 200px;
    height: 300px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
    text-align: right;
    position: absolute;
    text-decoration: none;
    color:ivory;
    top: 2em;
    right: 0;
}

/* Style navigation menu links */

.topnav a{
    color: ivory;
    text-decoration: none;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: .1em;
}

/* Style the hamburger menu */
.icon {
    position: absolute;
    top:0;
    right: 0;
}

.topnav a.icon {
    z-index:500;
    color: ivory;
    display: block;
    position: absolute;
    right: 0;
    top: .5em;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #fadbdd;
    color: black;
}

ul li {
    display: block;
}

a.active {
    background:none;
}


/*========================================
            Header Mobile
========================================*/
.banner {
    width: 100%;
    height:20em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.banner h1{
    z-index: 100;
    position: absolute;
    top: -.1em;
    left: .25em;
    bottom: 0;
    right: 0;
    font-size: 3em;
    color: ivory;
    text-align: center;
    height: auto;
}

.banner img{
    position: relative;
    width: 100%;
    top: 0;
    left:0; 
    margin-bottom: -1.7em;
}

.logo img{
    z-index: 500;
    margin-top:0;
    margin-left: 45%;
    margin-right: auto;
    width: 3em;
    height: 3em;
}

header p{
    display: none;
}


/*===================================
        About Me CSS Mobile
===================================*/
#aboutMe {
    margin-right: 5%;
    margin-top: -55%;
}

#aboutMe .column2 {
    margin-top: 280px;
}


/*===================================
        MY WORK CSS Mobile
===================================*/
#myWork{
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
}

#myWork a{
    color: black;
    font-weight: bold;
}

/*=================================
            Slideshow CSS
=================================*/

#myWork .slideshowContainer, #myWork img{
    z-index: 1;
    position: relative;
    width: 320px;
    height: auto;
    margin: 1em auto 0 0;
}

.mySlides {
    display: none;
} 

.slideshowContainer img{
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: relative;
    z-index: 3; 
    margin-top: -3em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.prev{
    margin-left: .5em;
    margin-right: 280px;

}

.text{
    z-index: 1;
    width: 320px;
    text-align: center;
    background-color: #fadbdd47;
    color: black;
    height: 30px;
    padding-top: 14px;
    margin-left: 0;
    margin-bottom: -2em;
    
}

/* Dots/Bullets/Indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 1em 2px ;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

/* Fading Animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*===================================
        Contact CSS Mobile
===================================*/

#contact .column2 {
    margin-top: 180px;
}

#contact img{
    margin-left: 1em;
    margin-top: -4em;
}

#contact .pinkBG {
    z-index: -100;
    background-color: #fadbdd;
    height: 560px;
    width: 100%;
    margin-left: 5%;
    margin-top:-200px;
    padding: .5em;
}
/*===================================
        CONTACT FORM CSS Mobile
===================================*/
form {
    width: 90%;
    cursor: pointer;
    margin-left: 1.5em
}

form input[type="email"] {
    width: 90%;
    height: 2em;
    margin-bottom: 2em;
}

form textarea {
    width: 90%;
    height: 140px;
    margin-bottom: 0;
}

.formDisclaimer p{
    font-size: .75em;
    margin-bottom: 2em;
    text-align: center;
    margin-left:-1.5em;
}

form button{
    width: 20%;
    height: auto;
    margin-left: 8em;
    margin-right: auto;
}

/*=====================================
            FOOTER Mobile
=====================================*/
footer {
    text-align: center;
}

/*==========================================================================================
            RESPONSIVE SCREEN CSS - TABLET
===========================================================================================*/

@media only screen and (min-width: 767px){

h1{
    font-size: 4em;
}

p{
    font-size: 1.5em
}

.column1{ 
    margin-left: 17%;
}

.pinkBG {
    height: 640px
}
/*============================
       HEADER CSS Tablet
============================*/
.banner h1{
    font-size: 5em;
    margin-top: 1em;
    margin-left: -.25em;
}


.logo img {
    width: 5em;
    height: 5em;
    margin-top: -2%;
}
 
/*=================================
            Nav CSS Tablet
=================================*/   
.topnav{
    margin-right: 2em;
}
.topnav a{
    font-size: 2em;
}

#myLinks{
    margin-top: 2em;
}

/*=================================
        ABOUT ME CSS Tablet
=================================*/
#aboutMe {
    margin-right: 5%;
    margin-top: -5em;
}

#aboutMe img{
    margin-left: 15%;
}

#aboutMe .column2 {
    margin-left: 5%;
}


/*=================================
        MY WORK CSS Tablet
=================================*/
#myWork{
    width: 90%;
    margin-left: 10%;
    margin-right: 5%;
}

#myWork h1{
    margin-left: 2px;
}
#myWork .column2{
    margin-top: -3em;
}


/*=================================
       Slideshow CSS Tablet
=================================*/

#myWork .slideshowContainer, #myWork img{
    z-index: 1;
    position: relative;
    width: 100%;
    height: auto;
    margin: 1em auto 0 -20%;
}

.text{
    font-size: 1.5em;
    width: 100%;
    margin-left: -20%;
    margin-bottom: -1.5em;
}

.prev {
    margin-left:-17%;
    margin-right: 90%;
}

.dot {
    width: 20px;
    height: 20px;
    margin: 2em .25em;
}

#dot1{
    margin-left: -40%;
}


/*=================================
        Contact CSS Tablet
=================================*/
#contact img{
    margin-left: 15%;
}

#contact h1{
    margin-left: 5%;
}

#contact .pinkBG {
    height: 700px
}

/*=================================
      CONTACT FORM CSS Tablet
=================================*/
form {
   margin-left: 10%;
}

#contact form{
    font-size: 1.5em
}

#contact p {
    text-align: left;
    margin-left: 0;
}

form button{
    width: 10em;
    height: 2em;
    font-size: .75em;
    margin-left: 0;
}



/* Closing brace for media screen*/
}
/*==========================================================================================
            RESPONSIVE SCREEN CSS - FULL SIZE
===========================================================================================*/
    @media only screen and (min-width: 1150px){
/*===================================
        GENERAL CSS Fullscreen
===================================*/
html {
    overflow-x: hidden;
    max-width: 1200px;
    width:100%;
    scroll-behavior: smooth;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: 'Questrial', sans-serif;
    width: 100%;
    position: relative;
}

.column1{
    z-index: 100;
    width: 40%;
    float: left;
    margin-left: 0;
    margin-right: 5%;

}

.column2{
    z-index: 1000;
    width:30%;
    float: left;
    margin-left:0;
    margin-right: 5%;

}

.column2 h1{
    margin-top: -4em;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-right: 5%;
    margin-left: 5%;
    padding: 0;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 1.5em;
}

.pinkBG {
    z-index: -100;
    background-color: #fadbdd;
    height: 500px;
    width: 100%;
    margin-top: 10em;
    margin-left: 5%;
    padding: 1em;
}

/*===================================
        HEADER CSS Fullscreen
===================================*/
header p{
    z-index: 100;
    display: contents;
    color: ivory;
    font-size: 2em;
    top: 0;
    left: 0;
}

.banner {
    width: 105%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1em;
}

.banner h1{
    z-index: 100;
    position: relative;
    top:0;
    left: -.6em;
    font-size: 6em;
    color: ivory;
    text-align: center;
}

.banner img{
    position: absolute;
    z-index: -1; 
    width: 105%;
    top: -1em;
    left: -1em;
    right:-1em;
}

.logo img{
    z-index: 500;
    margin-top: 18em;
    margin-left: 45%;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

/*========================
        NAV Fullscreen
========================*/

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: absolute;
    display: inline;
    top: 0;
    font-size: 1.1em;
    right: -3em;
    width: 40%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: inline;
    text-align: right;
    position: relative;
    top: 0;
    right: 0;
}

/* Style navigation menu links */

#myLinks a {
    text-decoration:none;
    color: ivory;
    display: inline;
    font-size: 1.5em;
    padding: 0 .75em;

}

/* Remove Hamburger Nav*/

.topnav a.icon {
    display: none;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #fadbdd;
    color: black;
}

ul li {
    display: inline;
}

a .active {
    background:none;
}

/*===================================
        ABOUT ME CSS Fullscreen
===================================*/
#aboutMe{
    height: 30%;
    width: 100%;
    margin-left:5%;
    margin-right: 15%;
    padding: 0%;
}

#aboutMe img{
    margin-top: -5em;
}


/*===================================
        MY WORK CSS Fullscreen
===================================*/
#myWork{
    height: 30%;
    width: 100%;
    margin-right: 5%;
    margin-left: 7%;
    margin-top: 22em;
}

#myWork h1{
    margin-left: -.8em;
}

#myWork .column2 {
    margin-left: 5%;
    width: 30%;
}

#myWork #slideshowContainer {
    margin-top: -15em;
    margin-left: 7em;
    position: relative;
}


/*===================================
   MY WORK SLIDESHOW CSS Fullscreen
===================================*/
/* Slideshow Container */
.slideshowContainer {
    width: 432px;
    height: 288px;
    position: relative;
    margin: 40px auto auto auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
} 

.slideshowContainer img{
    vertical-align: middle;
}

/* Next & Previous Buttons */
.prev, .next {
    cursor: pointer;
    position: relative;
    z-index: 3;
    top: -11em;
    width: auto;
    margin-top: 0;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position "next" button to the right */
.next {
    left: 0;
    top: -10.7em;
    border-radius: 3px 0 0 3px;
}

.prev{
    margin-right: 75%;
}

/* On Hover, add black background -slightly transparent */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption Text */
.text {
    color: black;
    background-color: #fadbdd47;
    height: 30px;
    font-size: 15px;
    padding: 18px 12px 0 12px;
    position: relative;
    bottom: 8px;
    width:95%;
    text-align: center;
    margin-top: 0;
    vertical-align: middle;
}

/* Dots/Bullets/Indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}



.active, .dot:hover{
    background-color: #717171;
}

/* Fading Animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



/*===================================
        CONTACT CSS Fullscreen
===================================*/
#contact .pinkBG {
    margin-top:5em;
    height: 500px;
}

#contact img{
    margin-top: -7em;
}

#contact .column2{
    width: 45%;
    margin-right: -5%;
    margin-left: -5%;
    margin-top: 18em;
}

#contact{
    height: 30%;
    width: 100%;
}

/*===================================
     CONTACT FORM CSS Fullscreen
===================================*/
form {
    width: 90%;
    cursor: pointer;
}

form input[type="email"] {
    width: 90%;
    height: 2em;
    margin-bottom: 1em;
    margin-right: 1em;
}

form textarea {
    width: 90%;
    height: 140px;

}

.formDisclaimer p{
    font-size: .75em;
    margin-bottom: 1em;
}

form button{
    width: 20%;
    height: auto;
}

/*===================================
      FOOTER CSS Fullscreen
===================================*/
footer p {
    font-size: 1em;
    text-align: left;
    bottom: 0;
    padding: 0;
    margin-left: 5em;
}

/* Closing brace for media screen*/
}